{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SPHURIT</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'teacher/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'teacher/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'teacher/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'teacher/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'teacher/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'teacher/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'teacher/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Customized Bootstrap Stylesheet -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.1/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.1/dist/sweetalert2.all.min.js"></script>
  <!-- Template Stylesheet -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="{% static 'teacher/css/style.css' %}" rel="stylesheet">
  <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

  {% block extrastyle %}

  {% endblock extrastyle %}
  {% block extrahead %}

  {% endblock extrahead %}
</head>

    {% block nav %}
    {% include 'teacher/navbar.html' %}
    {% endblock nav %}
  
    {% block sidebar %}
    {% include 'teacher/sidebar.html' %}
    {% endblock sidebar %}

    {% block header %}
      
    {% endblock header %}

    <main class="content bg-white position-relative" >
  
      {% if messages %}
        <div class="messages alert-fixed">
        {% for message in messages %}
        
        <script>
          const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            animation:false,
            didOpen: (toast) => {
              toast.onmouseenter = Swal.stopTimer;
              toast.onmouseleave = Swal.resumeTimer;
            }
          });
          Toast.fire({
            icon: "{{ message.tags }}",
            title: "{{message}}"
          });
        </script>
        {% endfor %}
        </div>
      {% endif %}
      {% block content %}
      <!-- Spinner Start -->
      <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
          <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
              <span class="sr-only">Loading...</span>
          </div>
      </div>
      <!-- Spinner End -->
      
      
      {% endblock content %}
    </main>

    {% block theme_settings %}
      
    {% endblock theme_settings %}

    {% block footer %}
     
    {% endblock footer %}

    {% block script %}
    {% endblock %}

    <!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> -->
    <!-- Vendor JS' Files -->

    <script src="{% static 'teacher/vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'teacher/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'teacher/vendor/chart.js/chart.umd.js' %}"></script>
    <script src="{% static 'teacher/vendor/echarts/echarts.min.js' %}"></script>
    <script src="{% static 'teacher/vendor/quill/quill.min.js' %}"></script>
    <script src="{% static 'teacher/vendor/simple-datatables/simple-datatables.js' %}"></script>
    <script src="{% static 'teacher/vendor/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'teacher/vendor/php-email-form/validate.js' %}"></script>
  
    <!-- Template Main JS File -->
    <script src="{% static 'teacher/js/main.js' %}"></script>
    
    
    <!-- JavaScript Libraries -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   <script src="{% static 'lib/wow/wow.min.js' %}"></script>
   <script src="{% static 'lib/easing/easing.min.js' %}"></script>
   <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
   <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
   

   <!-- Template Javascript -->
   <script src="{% static 'js/main.js' %}"></script>
 
<body>
