
{% load static %}
{% load humanize %}
 
 <!-- ======= Header ======= -->
 <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'home' %}" class="logo d-flex align-items-center">
        <img src="{% static 'img/icons/logo1.png' %}" alt="" width="120">
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown">

            <a class="nav-link nav-icon">
              <i class="bi bi-bell"></i>
              <span class="badge bg-primary badge-number">{{unread_count|length }}</span>
            </a>
  
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
              <li class="dropdown-header">
                You have {{unread_count|length}} new notifications
                <a href="{% url 'notification_list' %}"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              {% for notif in unread_count %}
              <li class="notification-item">
               
                <div>
                  <h4 class="">{{notif.title}}</h4>
                  <p class="mb-1">{{notif.message}}</p>
                  <p class="small text-muted text-right mb-0">{{notif.timestamp|naturaltime}}</p>
                </div>
              </li>
              <li><hr class="dropdown-divider"></li>
              {% endfor %}
  
              <li class="dropdown-footer">
                <a href="{% url 'notification_list' %}">Show all notifications</a>
              </li>
  
            </ul>
  
        </li> 
        <!-- End Notification Nav -->


            <li class="nav-item dropdown pe-3">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {% if request.user.image_url != "" %}
                  <img src="{{ request.user.image_url }}" alt="Profile" height="30" class="rounded-circle">
                  {% else %}
                  <img src="{% static 'img/user.png' %}" alt="Profile" height="30" class="rounded-circle">
                  {% endif %}
              </a>
              <ul class="dropdown-menu fade-down m-0 " aria-labelledby="navbarDropdown" style="
              right: 20px;">
                  <li><a class="dropdown-item" href="#">{{ request.user.full_name }}</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <a class="dropdown-item d-flex align-items-center" href="{% url 'wallet_details' %}">
                      <i class="bi bi-wallet"></i>
                      <span>Wallet</span>
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                      <a class="dropdown-item d-flex align-items-center" href="{% url 'view_profile' %}">
                          <i class="bi bi-person"></i>
                          <span>My Profile</span>
                      </a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item d-flex align-items-center" href="{% url 'log_out' %}">
                      <i class="bi bi-box-arrow-right"></i>
                      <span>Sign Out</span>
                    </a>
                  </li>
              </ul>
          </li>

          </ul>
        </li>

      </ul>
    </nav>

  </header>