{% extends 'user-face/base.html' %}
{% load static %}
{% load filter %}

{% block extrastyle %}
<style>
    .card-img-top {
        border-radius: 0px;
    }
    h6.card-title a {
        font-weight: bold;
        color: #000;
    }
    /* .cat-border-box button#rzp-button1 {
        margin-left: 131px !important;
    } */
    /* .top-courses-box button#rzp-button1 {
        margin-left: 75px !important;
    } */
    .card {
    box-shadow: 0 0 0px 1px #00000017 !important;
}

 </style>
{% endblock extrastyle %}
{% block script %}
<script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
<script src="{% static 'lib/cookie.min.js' %}"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
{% endblock %}
{% block content %}
<div class="container-fluid curved-box home-curve-box pt-4 m-0">
    <p class="fs-2 text-white ">{{category.category_name}}</p>
    <p class="fs-5 text-white ">{{category.title}}</p>
</div>
<div class="container-fluid category-sec">
    <div class="row mx-2 pb-2">
        <div class="col-lg-4">
            <div>
                <button class="btn btn-outline-primary btn-sm" disabled>Filters</button>
                <button class="btn btn-outline-primary btn-sm" onclick="window.location.reload();"><i class="bi bi-arrow-repeat"></i></button>
            </div>
        </div>
        <div class="col-lg-8 text-right my-auto">
            <h3 class="fw-bold ">All <span class="text-primary">{{category.category_name}}</span> courses</h3>
        </div>
    </div>
    <div class="row mx-2 border-top border-primary border-2">
        <div class="col-lg-2 pt-4 border-end sidebar-sec">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item bg-transparent border-0">
                  <h2 class="accordion-header  border-1 border-bottom px-3 rounded" style="border-bottom: 1px solid #909397 !important;" id="flush-headingOne">
                    <button class="accordion-button py-3" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                        <span class="fw-bold">Price</span>
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" >
                    <div class="accordion-body p-2">
                        <div class="my-1"><label class="tick "><input class="filter-price" name="filter_price" type="radio" data-filter="price" data-min="0" data-max="1000">&emsp;Less than 1000</label></div>
                        <div class="my-1"><label class="tick "><input class="filter-price" name="filter_price" type="radio" data-filter="price" data-min="1000" data-max="2500">&emsp;1000 - 2500</label></div>
                        <div class="my-1"><label class="tick "><input class="filter-price" name="filter_price" type="radio" data-filter="price" data-min="2500" data-max="5000">&emsp;2500 - 5000</label></div>
                        <div class="my-1"><label class="tick "><input class="filter-price" name="filter_price" type="radio" data-filter="price" data-min="5000" data-max="7500">&emsp;5000 - 7500</label></div>
                        <div class="my-1"><label class="tick "><input class="filter-price" name="filter_price" type="radio" data-filter="price" data-min="7500" data-max="10000">&emsp;7500 - 10000</label></div>
                        <!-- <div class="my-1"><label class="tick "><input class="filter-price" name="filter_price" type="radio" data-filter="price" data-min="10000" data-max="0">&emsp;10,000 and Above</label></div> -->
                        <div class="my-1"><label class="tick "><input class="filter-price" name="filter_price" type="radio" data-filter="price" data-min="10000" data-max="0">&emsp;10,000 and Above</label></div>

                    </div>
                  </div>
                </div>
                <div class="accordion-item bg-transparent border-0">
                  <h2 class="accordion-header border-1 border-bottom px-3 rounded" style="border-bottom: 1px solid #909397 !important;" id="flush-headingTwo">
                    <button class="accordion-button py-3" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <span class="fw-bold">Ratings</span>
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="flush-headingTwo" >
                    <div class="accordion-body p-2">
                        <div class="my-1">
                            <label class="tick ">
                                <div class="d-flex">
                                <input type="checkbox" data-filter="ratings" class="filter-checkbox" value="5">&emsp;
                                <div class="ratings">
                                    <small class="">5</small>&emsp13;
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star rating-color"></i>
                                </div>
                                </div>
                            </label>
                        </div>
                        <div class="my-1">
                            <label class="tick">
                                <div class="d-flex">
                                <input type="checkbox" data-filter="ratings" class="filter-checkbox" value="4">&emsp;
                                <div class="ratings">
                                    <small class="">4</small>&emsp13;
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star "></i>
                                </div>
                                </div>
                            </label>
                        </div>
                        <div class="my-1">
                            <label class="tick ">
                                <div class="d-flex">
                                <input type="checkbox" data-filter="ratings" class="filter-checkbox" value="3">&emsp;
                                <div class="ratings">
                                    <small class="">3</small>&emsp13;
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star "></i>
                                    <i class="fa fa-star "></i>
                                </div>
                                </div>
                            </label>
                        </div>
                        <div class="my-1">
                            <label class="tick">
                                <div class="d-flex">
                                <input type="checkbox" data-filter="ratings" class="filter-checkbox" value="2">&emsp;
                                <div class="ratings">
                                    <small class="">2</small>&emsp13;
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star "></i>
                                    <i class="fa fa-star "></i>
                                    <i class="fa fa-star "></i>
                                </div>
                                </div>
                            </label>
                        </div>
                        <div class="my-1">
                            <label class="tick">
                                <div class="d-flex">
                                <input type="checkbox" data-filter="ratings" class="filter-checkbox" value="1">&emsp;
                                <div class="ratings">
                                    <small class="">1</small>&emsp13;
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star "></i>
                                    <i class="fa fa-star "></i>
                                    <i class="fa fa-star "></i>
                                    <i class="fa fa-star "></i>
                                </div>
                                </div>
                            </label>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item bg-transparent border-0">
                  <h2 class="accordion-header border-1 border-bottom px-3 rounded" style="border-bottom: 1px solid #909397 !important;" id="flush-headingThree">
                    <button class="accordion-button py-3" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <span class="fw-bold">Language</span>
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse show" aria-labelledby="flush-headingThree">
                    <div class="accordion-body p-2">
                        {% for obj in language %}

                        <div class="my-1">
                            <label class="tick">
                                <input type="checkbox" data-filter="languages" class="filter-checkbox" value="{{ obj.id }}">&emsp;{{ obj.name }}
                            </label>    
                        </div>
                        {% endfor %}

                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 mt-4">
            <div class="row justify-content-left cat-card-sec" id="all-course-box">
                {% for item in courses %}
                    <div class="col-lg-3 col-md-3 align-items-stretch category_card">
                        <div class="card mb-4 rounded border cat-border-box ">
                            <div class="card-body">
                                <img class="card-img-top" src="{{ item.img_url }}" alt="" >
                                <div class="cat-card-content">
                                    {% if item.id|is_purchased:request.user %}
                                    <h6 class="card-title mb-0 one-line-text"><a href="{% url 'play_course' item.id %}">{{ item.course_name }}</a></h6>
                                    {% else %}
                                    <h6 class="card-title mb-0 one-line-text"><a href="{% url 'detail_course' item.id %}">{{ item.course_name }}</a></h6>
                                    {% endif %}
                                    <h6 class="card-sub-title text-muted">{{ item.user.first_name }} {{ item.user.last_name }}</h6>
                                    <!-- <span class="small text-muted">Product Management Masterclass, you will learn with Sarah Johnson - Head of Product Customer Platform Gojek Indonesia.</span> -->
                                    <p class="small text-muted mb-0">{{ item.created_at|date:"d-m-Y h:i A" }}</p>
                                    <span class="d-flex">
                                        <h4 class="text-warning fw-bold my-auto">₹ {{ item.discount_fee }}</h4>&emsp13;
                                        <h5 class="small text-muted text-decoration-line-through my-auto" >₹ {{ item.actual_fee }}</h5>
                                    </span>
                                </div>
                            </div>
                            <div class="card-footer rounded d-flex justify-content-between">
                               
                                <span class="d-flex">
                                    {% if item.id|is_purchased:request.user %}
                                    <a class="btn btn-warning btn-sm border my-auto text-white" href="{% url 'play_course' item.id %}">Start learning NOW!</a>
                                    {% else %}

                                    {% if item.id|is_cart:request.user %}
                                    <a id="cart-btn-mr-{{ item.id }}" class="btn btn-primary btn-sm border my-auto"><i class="bi bi-cart-check"></i></a>
                                    {% else %}
                                    <a id="cart-btn-mr-{{ item.id }}" class="btn btn-secondary btn-sm border my-auto add-to-cart-btn" href="{% url 'add_to_cart' item.id %}"><i class="bi bi-cart-plus"></i></a>
                                    {% endif %}


                                    <script type="text/javascript">
                                        $(document).ready(function() {
                                        $('.add-to-cart-btn').on('click', function(e) {
                                        e.preventDefault(); 
                                        var itemId = $(this).attr('id').split('-')[3];             
                                    $.ajax({
                                        url: $(this).attr('href'),
                                        type: 'GET',
                                        success: function(data) {
                                        $('#cart-btn-mr-' + itemId).removeClass('btn-secondary').addClass('btn-primary');
                                        $('#cart-btn-mr-' + itemId + ' i').removeClass('bi-cart-plus').addClass('bi-cart-check');
                                    },
                                    error: function(error) {
                                    console.log(error); 
                                    }
                                    });
                                    });
                                });
                            
                                </script>

                                    {% comment %} <a class="btn btn-secondary btn-sm border my-auto" href="{% url 'add_to_cart' item.id %}"><i class="bi bi-cart-plus"></i></a> {% endcomment %}
                                    <button class="btn btn-default btn-sm border my-auto" style="margin-left: -50px;" onclick="AddToWishlist('{{item.id}}')" id="atwl{{item.id}}">
                                        {% if user in item.wishlist.all %}
                                        <i class="bi bi-heart-fill"></i>
                                        {% else %}
                                        <i class="bi bi-heart"></i>
                                        {% endif %}
                                    </button>
                                    <button type="button" id="rzp-button1" onclick='enrollNow({p:"{{ item.discount_fee }}",id:"{{item.id}}"})' class="btn btn-primary btn-sm ">Enroll Now</button>
                                    
                                    {% endif %}
                                    
                                
                               
                                </span>
                                
                            </div>
                            
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="container top-courses-sec" style="padding-left: 15px;"> 
                <h3 class="fw-bold my-4">Top courses in <span class="text-primary">{{category.category_name}}</span></h3>
                <div class="row">
                    {% for item in courses %}
                        <div class="col-lg-3 col-md-4 align-items-stretch top-courses-card">
                            <div class="card mb-4 rounded border top-courses-box">
                                <div class="card-body">
                                    <img class="card-img-top" src="{{ item.img_url }}" alt="" >
                                    <div class="top-courses-content">
                                        {% if item.id|is_purchased:request.user %}
                                        <h6 class="card-title mb-0 one-line-text"><a href="{% url 'play_course' item.id %}">{{ item.course_name }}</a></h6>
                                        {% else %}
                                        <h6 class="card-title mb-0 one-line-text"><a href="{% url 'detail_course' item.id %}">{{ item.course_name }}</a></h6>
                                        {% endif %}
                                        <h6 class="card-sub-title text-muted">{{ item.user.first_name }} {{ item.user.last_name }}</h6>
                                        <!-- <span class="small text-muted">Product Management Masterclass, you will learn with Sarah Johnson - Head of Product Customer Platform Gojek Indonesia.</span> -->
                                        <p class="small text-muted mb-0">{{ item.created_at|date:"d-m-Y h:i A" }}</p>
                                        <span class="d-flex">
                                            <h4 class="text-warning fw-bold my-auto">₹ {{ item.discount_fee }}</h4>&emsp13;
                                            <h5 class="small text-muted text-decoration-line-through my-auto" >₹ {{ item.actual_fee }}</h5>
                                        </span>
                                    </div>
                                </div>
                                <div class="card-footer rounded d-flex justify-content-between">
                                    
                                    <span class="d-flex">
                                        {% if item.id|is_purchased:request.user %}
                                        <a class="btn btn-warning btn-sm border my-auto text-white" href="{% url 'play_course' item.id %}">Start learning NOW!</a>
                                        {% else %}
            
            
                                        {% if item.id|is_cart:request.user %}
                                                <a id="cart-btn-mr-{{ item.id }}" class="btn btn-primary btn-sm border my-auto"><i class="bi bi-cart-check"></i></a>
                                                {% else %}
                                                <a id="cart-btn-mr-{{ item.id }}" class="btn btn-secondary btn-sm border my-auto add-to-cart-btn" href="{% url 'add_to_cart' item.id %}"><i class="bi bi-cart-plus"></i></a>
                                                {% endif %}
            
            
                                                <script type="text/javascript">
                                                    $(document).ready(function() {
                                                    $('.add-to-cart-btn').on('click', function(e) {
                                                    e.preventDefault(); 
                                                    var itemId = $(this).attr('id').split('-')[3];             
                                                $.ajax({
                                                    url: $(this).attr('href'),
                                                    type: 'GET',
                                                    success: function(data) {
                                                    $('#cart-btn-mr-' + itemId).removeClass('btn-secondary').addClass('btn-primary');
                                                    $('#cart-btn-mr-' + itemId + ' i').removeClass('bi-cart-plus').addClass('bi-cart-check');
                                                },
                                                error: function(error) {
                                                console.log(error); 
                                                }
                                                });
                                                });
                                            });
                                        
                                            </script>
                                        {% comment %} <a class="btn btn-secondary btn-sm border my-auto" href="{% url 'add_to_cart' item.id %}"><i class="bi bi-cart-plus"></i></a> {% endcomment %}
                                        <button class="btn btn-default btn-sm border my-auto" style="margin-left: -38px;" onclick="AddToWishlist('{{item.id}}')" id="atwl{{item.id}}">
                                            {% if request.user in item.wishlist.all %}
                                            <i class="bi bi-heart-fill"></i>
                                            {% else %}
                                            <i class="bi bi-heart"></i>
                                            {% endif %}
                                        </button>
                                        <button type="button" id="rzp-button1" onclick='enrollNow({p:"{{ item.discount_fee }}",id:"{{item.id}}"})' class="btn btn-primary btn-sm">Enroll Now</button>
                                        {% endif %}   
                                        {% comment %} <div>
                                        <button type="button" id="rzp-button1" onclick='enrollNow({p:"{{ item.discount_fee }}",id:"{{item.id}}"})' class="btn btn-primary btn-sm mx-1 my-auto">Enroll Now</button>
            
                                        
                                    </div> {% endcomment %}
                                    </span>
                                    
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var _filterObj = {"price":[],"ratings":[],"languages":[]};
        $(".filter-price").on('click',function(){
            var _filterVal1 = $(this).val();
            var _filterKey1 = $(this).data('filter');
            var _min_price = $(this).data('min');
            var _max_price = $(this).data('max');
            _filterObj[_filterKey1]=Array.from(document.querySelectorAll('input[data-filter='+_filterKey1+']:checked')).map(function(el){
                return {"min_price":_min_price,"max_price":_max_price};
            });
            filterApi();
        });
        $(".filter-checkbox").on('click',function(){
            $(".filter-checkbox").each(function(i,e){
                var _filterVal = $(this).val();
                var _filterKey = $(this).data('filter');
                _filterObj[_filterKey]=Array.from(document.querySelectorAll('input[data-filter='+_filterKey+']:checked')).map(function(el){
                    return el.value;
                });
            });
            filterApi();
        });

        function filterApi(){
            let courseDiv = document.getElementById('all-course-box');
            let eurl = "{{ site.domain }}/filter_course?cid={{category.id}}"
            fetch(eurl,{
                method: "POST",
                headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                body:JSON.stringify(_filterObj),
            })
            .then(response => response.json())
            .then(result => {
                courseDiv.innerHTML = result['courses'];
            });
        };
        
    });

    const AlertToast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        animation:false,
        didOpen: (toast) => {
            toast.onmouseenter = Swal.stopTimer;
            toast.onmouseleave = Swal.resumeTimer;
        }
    });
    
    function removeFromWishlist(id){
        const csrf = Cookies.get('csrftoken');
        var btn = document.getElementsByClassName(`atwl${id}`)
        fetch('remove_from_wishlist', {
            method: "POST",
            headers: {'X-CSRFToken': csrf},
            body: JSON.stringify({
                id: id
            })
        })
        .then(response => response.json())
        .then(result => {
            console.log(result);
            btn.onClick = "AddToWishlist('{{item.id}}')";
            btn.innerHTML='<i class="bi bi-heart"></i>';
            // window.location = `user_purchased_list`
        })
    }
    function AddToWishlist(id){
        const csrf = Cookies.get('csrftoken');
        var btn = document.getElementById(`atwl${id}`)
        
        if("{{request.user.is_authenticated}}" == "True"){
            fetch('{% url "add_to_wishlist" %}', {
                method: "POST",
                headers: {'X-CSRFToken': csrf},
                body: JSON.stringify({
                    id: id
                })
            })
            .then(response => response.json())
            .then(result => {
                console.log(result);
                if(result['status'] == 'add'){
                    btn.innerHTML='<i class="bi bi-heart-fill"></i>';
                    AlertToast.fire({
                        icon: "success",
                        title: result['message']
                    });
                }else{
                    btn.innerHTML='<i class="bi bi-heart"></i>';
                    AlertToast.fire({
                        icon: "success",
                        title: result['message']
                    });
                }
                // window.location = `user_purchased_list`
            })    
        }
        else{
            window.location = "{% url 'user_login' %}";
        }
    }



    function enrollNow(courseData) {
    if ("{{request.user.is_authenticated}}" === "True") {
        var orderId = "";

        fetch("{% url 'initEnrollPayment' %}", {
            method: "POST",
            headers: { 'X-CSRFToken': Cookies.get('csrftoken') },
            body: JSON.stringify({
                "amount": courseData.p,
                "currency": "INR"
            })
        })
        .then(response => response.json())
        .then(result => {
            console.log(result);
            var optionData = result['result']
            var options = {
                "key": result['RAZOR_KEY_ID'],
                "amount": optionData['amount'],
                "currency": optionData['currency'],
                "name": "Course Enrollment",
                "description": "Course Enrollment",
                "image": "{% static 'img/icons/logo1.png'%}",
                "order_id": optionData['id'],
                "handler": function (response) {
                    if (response.razorpay_payment_id) {
                        console.log(response.razorpay_payment_id);
                        orderId = response.razorpay_order_id;
                        fetch("{% url 'verifySignature' %}", {
                            method: "POST",
                            headers: { 'X-CSRFToken': Cookies.get('csrftoken') },
                            body: JSON.stringify({
                                "razorpay_paymentId": response.razorpay_payment_id,
                                "razorpay_orderId": response.razorpay_order_id,
                                "razorpay_signature": response.razorpay_signature
                            })
                        })
                        .then(response => response.json())
                        .then(result => {
                            console.log(result);
                            if (result['result']) {
                                fetch("{% url 'purchaseCourse' %}", {
                                    method: "POST",
                                    headers: { 'X-CSRFToken': Cookies.get('csrftoken') },
                                    body: JSON.stringify({
                                        "course_id": courseData.id,
                                        "order_id": orderId
                                    })
                                })
                                    .then(response => response.json())
                                    .then(result => {
                                        console.log(result);
                                        const swalWithBootstrapButtons = Swal.mixin({
                                                customClass: {
                                                    confirmButton: "btn btn-success",
                                                    cancelButton: "btn btn-danger"
                                                },
                                                buttonsStyling: false
                                                });
                                                swalWithBootstrapButtons.fire({
                                                title: "Payment Successful.",
                                                text: "Thanks for purchesed the course!",
                                                icon: "success",
                                                showCancelButton: false,
                                                confirmButtonText: "Ok",
                                                reverseButtons: true
                                                }).then((result) => {
                                                if (result.isConfirmed) {
                                                    window.location = "{% url 'user_dashboard' %}";
                                                }
                                                });

                                    })
                            } else {
                                // Handle verification failure
                            }
                        });
                    } else {
                        console.log(response);
                    }
                },
                "prefill": {
                    "name": "{{ request.user.full_name }}",
                    "email": "{{ request.user.email }}",
                    "contact": "{{ request.user.mobile }}"
                },
                "notes": {
                    "address": "Sphurit"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            var rzp1 = new Razorpay(options);

            rzp1.open();
            rzp1.on('payment.failed', function (response) {
                // Handle payment failure
            });
        });
    } else {
        window.location = "{% url 'user_login' %}";
    }
}

</script>
{% endblock content %}