{% extends 'user-face/base.html' %}
{% load static %}

{% block extrastyle %}
<style>
    
    
   
    .container {
        padding: 20px;
        height: 100vh;
        display: flex;
        align-items: center;
    }


    .card {
        margin-top: 40px; 
        width: 100%;
        margin: 0 0px 30px;
    }
   
  .col-lg-10 {

    margin-top: -120px;
  }
  .form-label {

    margin-top: 5px;
}
.col-12 {
  
    display: contents;
}
p {
  
    margin-bottom: 0rem;
}
.card-title {
  padding: 1px 0 10px 0;
}

@media only screen and (max-width: 600px) {

.card.recd{
  margin-top: 91px !important;
}
.mx-3 {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
}
}

@media only screen and (min-width: 700px){
  .col-lg-10.re-col {
    margin-top: -60px;
    margin-right: 35px 
}
}



</style>
{% endblock extrastyle %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'lib/cookie.min.js' %}"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid" style="padding: 0;">
    <div class="position-relative">
        <img src="{% static 'img/contact-us-1.png' %}" class="img-fluid" alt="" style="max-width: 100%; height: auto;">
    </div>
</div>

  
    
    
        <div class="row justify-content-center ">
            <div class="col-lg-10 re-col">
                <div class="card mt-1 mb-0 mx-3 recd" style="margin-left: 20px;"> <!-- Adjust margin as needed -->
                    <div class="card-header text-center">
                        <div class="row  ">
                            <div class="col-sm-6  me-col  mt-3">
                              <div class="card ">
                                <div class="card-body">
                                  <img class="abtp mx-5 mt-2 " src="{% static 'img/c1.png' %}" alt="img" width="10%" height="20%">
                                  <h5 class="card-title ">Call us directly at</h5> 
                                  <h3 class="card-title text-info">+91 8329887691</h3>
                                  <h3 class="card-title text-info">info@sphurit.com</h3>  
                                  <p class="card-text  pb-3">We are available Monday to Friday 10am to 7pm!! Our team is excited by your support </p>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-body">
                                  <img class="abtp mx-5 mt-3 " src="{% static 'img/message.png' %}" alt="img" width="10%" height="20%">
                                  <h5 class="card-title">Chat with our sales team</h5>
                                  <p class="card-text">Our sales team is available Monday to Friday between 10am to 7pm



                                  </p>
                                  <a href="https://wa.me/7828326817" class="btn btn-primary mb-2 mt-4">CHAT WITH WhatsApp</a>
                                  
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6  mt-3 ">
                              <div class="card">  
                                <div class="card-body">
                                  <h5 class="card-title mt-3">Book a Meeting</h5>
                                  <p class="card-text">You are facing any issue regarding enrolling in the course or regarding the platform. put your issue here</p>
                                    <form action="{% url 'support' %}" method="post" class="row px-4 pb-2 ">
                                        {% csrf_token %}
                                        <div class="col-12">
                                            <label for="full_name" class="form-label">Full Name</label>
                                            <input type="text" name="name" class="form-control" id="full_name" required>
                                        </div>
                                        <div class="col-12">
                                            <label for="mobile_number" class="form-label">Mobile Number</label>
                                            <input type="text" maxlength="10" name="mobile" class="form-control" id="mobile_number" required>
                                        </div>
                                        <div class="col-12">
                                            <label for="email" class="form-label">Email</label>
                                            <input type="email" name="email" class="form-control" id="email" required>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label for="query" class="form-label">Query</label>
                                            <textarea name="query" class="form-control" id="query" required></textarea>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <button class="btn btn-primary w-100 mt-4" type="submit">Submit</button>
                                        </div>
                                    </form>  
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}