{% extends 'teacher/base.html' %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/form_style.css' %}">
{% endblock extrastyle %}
{% block script %}
<script src="{% static 'js/viewform.js' %}" defer></script>
{% endblock %}
{% block content %}
<style>
    .card {
    /* margin-bottom: 30px; */
    margin: 0 0px 30px;
    border: none;
    border-radius: 12px !important;
    box-shadow: 0 0 1px 1px #00000017;
}
</style>
<main id="main" class="main">
    <div class="row justify-content-start">
        <div class="col-lg-12 col-md-12 ">
            <h5 class="card-title">{% if form.is_quiz %}Quiz{% else %}Assigment{% endif %} For Topic &emsp;->&emsp; {{form.topic.topic_name}}</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card mb-3" >
                <div class="card-body p-0">
                    <div class="px-3 py-0 pt-3 mb-1">
                        <div class="pagetitle mb-0">
                            <h1>{{form.title}}</h1>
                        </div>
                        <span class="card-text">{{form.description|linebreaksbr}}</span>
                        <hr>
                        
                        {% for question in form.questions.all %}
                        <div class="question mb-3" data-id="{{question.id}}">
                            
                            <div class="d-flex justify-content-between">
                                <span class="card-title p-0 my-auto">Q.{{forloop.counter}}&emsp13; {{question.question}}</span>
                                <div class="checkbox-container my-auto">  
                                    <input type="checkbox" id="required-{{question.id}}" data-id="{{question.id}}" {% if question.required %}checked="checked"{% endif %}  disabled="disabled"/>
                                    <label for="required-{{question.id}}">Required</label>    
                                </div>
                            </div>
                            {% if question.question_type == "multiple choice" %}
                            
                            <div class=" d-flex" data-id="{{question.id}}">
                                {% for choice in question.choices.all %}
                                    <div class="choice">
                                        <input type="radio" id="{{choice.id}}" disabled>&emsp13;
                                        <span>{{choice.choice}}</span>
                                    </div>&emsp;&emsp;
                                {% endfor %}
                            </div>
                            {% elif question.question_type == "checkbox" %}
                            <div class=" d-flex" data-id="{{question.id}}">
                                {% for choice in question.choices.all %}
                                    <div class="choice d-flex">
                                        <input type="checkbox" id="{{choice.id}}" disabled>&emsp13;
                                        <span>{{choice.choice}}</span> 
                                    </div>&emsp;&emsp;
                                {% endfor %}
                            </div>
                            {% elif question.question_type == "dropdown" %}
                            <div class=" d-flex" data-id="{{question.id}}">
                                {% for choice in question.choices.all %}
                                    <div class="choice">
                                        <input type="radio" id="{{choice.id}}" disabled>&emsp13;
                                        <span>{{choice.choice}}</span>
                                    </div>&emsp;&emsp;
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</main>
{% endblock %}
